* {
    color: black;
    font-family: sans-serif;
}

.header {
    box-sizing: border-box;
    background-color: lightpink;
    display: inline-block;
    margin-left: 50px;
    padding-left: 10%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link ul li {
    text-decoration: none;
    margin-right: 3%;
    padding-right: 20px;
    text-decoration: none;
    list-style-type: none;
}

.content {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.content section {
    margin: 20px;
    padding: 10px;
    background-color: darkviolet;
    color: white;
}

.content-name {
    float: left;
    color: white;
}

.substance {
    margin-left: 15%;
}

.work-substance {
    list-style: none;
}

.contact-me-substance {
    list-style: none;
    display: inline-block;
}

@media screen and (max-width: 992px) {
    * {
        background-color: rgb(50, 50, 50);
        color: lemonchiffon;
    }
}

@media screen and (max-width: 768px) {
    * {
        background-color: lemonchiffon;
        color: rgb(50, 50, 50);
    }
}